#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 10rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7.1rem;            /* Footer height */
}


.blue-line {
	height: 4px;
	background-color: #0055a4;
}

.red-line {
	height: 4px;
	background-color: #ee2436;
}
.white-line {
	height: 4px;
	background-color: #fff;
}

.footer-wrapper {
	text-align: center;	
	color: #fff;
	background-color: #0055a4;
	padding: 2rem 0 1.5rem 0;
}

.row {
	width: 100%;
}